In [1]:
import pandas as pd
import numpy as np
import sklearn

from sklearn.preprocessing import MinMaxScaler

In [2]:
df1= pd.read_excel('target_a3.xlsx', encoding='utf-8', thousands = ',') #숫자의 자릿수를 표현하는 ',' 제거

In [6]:
del df1['Unnamed: 0']
df1

        행정동코드    구     동  target_a3
0    11110530  종로구   사직동          0
1    11110540  종로구   삼청동          0
2    11110550  종로구   부암동          0
3    11110560  종로구   평창동          0
4    11110570  종로구   무악동          0
..        ...  ...   ...        ...
419  11740700  송파구  풍납1동          1
420  11740570  송파구  거여1동          1
421  11740610  강동구  고덕1동          1
422  11740685  강동구  고덕2동          1
423  11740690  강동구  둔촌1동          1

[424 rows x 4 columns]

In [8]:
df1 = df1[df1['target_a3'] ==1]
df1

        행정동코드    구      동  target_a3
34   11170530  용산구    효창동          1
43   11170700  용산구    한남동          1
44   11170555  성동구    마장동          1
47   11170685  성동구   행당2동          1
49   11200540  성동구  금호4가동          1
..        ...  ...    ...        ...
419  11740700  송파구   풍납1동          1
420  11740570  송파구   거여1동          1
421  11740610  강동구   고덕1동          1
422  11740685  강동구   고덕2동          1
423  11740690  강동구   둔촌1동          1

[134 rows x 4 columns]

In [10]:
df1 = df1[['구', '동']]

In [11]:
df1.to_excel("target_a3 우선지역.xlsx")

In [12]:
df2= pd.read_excel('target_b4.xlsx', encoding='utf-8', thousands = ',') #숫자의 자릿수를 표현하는 ',' 제거
df2

     Unnamed: 0     행정동코드    구     동  target_b4
0             0  11110530  종로구   사직동          0
1             1  11110540  종로구   삼청동          0
2             2  11110550  종로구   부암동          0
3             3  11110560  종로구   평창동          0
4             4  11110570  종로구   무악동          0
..          ...       ...  ...   ...        ...
419         419  11740700  송파구  풍납1동          0
420         420  11740570  송파구  거여1동          0
421         421  11740610  강동구  고덕1동          1
422         422  11740685  강동구  고덕2동          0
423         423  11740690  강동구  둔촌1동          1

[424 rows x 5 columns]

In [13]:
del df2['Unnamed: 0']
df2

        행정동코드    구     동  target_b4
0    11110530  종로구   사직동          0
1    11110540  종로구   삼청동          0
2    11110550  종로구   부암동          0
3    11110560  종로구   평창동          0
4    11110570  종로구   무악동          0
..        ...  ...   ...        ...
419  11740700  송파구  풍납1동          0
420  11740570  송파구  거여1동          0
421  11740610  강동구  고덕1동          1
422  11740685  강동구  고덕2동          0
423  11740690  강동구  둔촌1동          1

[424 rows x 4 columns]

In [15]:
df2 = df2[df2['target_b4'] ==1]
df2

        행정동코드    구        동  target_b4
8    11110630  종로구  종로5.6가동          1
40   11170650  용산구      청파동          1
46   11170625  성동구     행당1동          1
47   11170685  성동구     행당2동          1
50   11200550  성동구   성수1가1동          1
..        ...  ...      ...        ...
415  11740620  관악구      난향동          1
416  11740640  관악구      은천동          1
417  11740650  관악구      성현동          1
421  11740610  강동구     고덕1동          1
423  11740690  강동구     둔촌1동          1

[142 rows x 4 columns]

In [16]:
df2 = df2[['구', '동']]

In [19]:
df2.to_excel("target_b4 우선지역.xlsx")